$color-green-dark: #03573F
$color-green-light: #CDF547
$color-blue-dark: #233A8A
$color-blue-light: #4CC4E0
$color-prune-dark: #4E090C
$color-prune-light: #FEB4CD

$color-accent: $color-green-dark
$color-text: #000000
$color-background: #FFFFFF
$color-background-alt: #c1c4ce

$heading-font-family: "DM Sans", sans-serif
$body-font-family: $heading-font-family
$h1-line-height: 110%

$header-background: none
$header-color: $color-background
$header-sticky-background: var(--color-accent)
$header-border-bottom-width: 0
$header-dropdown-full: true
$header-logo-height: pxToRem(40)
$header-logo-height-desktop: pxToRem(60)
$hero-color: $color-background
$hero-background-color: var(--color-accent)
$hero-height-desktop: 700px
$footer-background-color: none
$footer-logo-height: pxToRem(40)
$footer-logo-height-desktop: pxToRem(60)
$breadcrumb-color: $color-text
$breadcrumb-color-active: $color-accent
$btn-background: $color-green-light
$btn-border-width: 0
$btn-border-radius: pxToRem(8)
$btn-border-radius-desktop: $btn-border-radius
$btn-padding: pxToRem(12) pxToRem(20)
$btn-padding-desktop: pxToRem(18) pxToRem(32)
$block-space-y-desktop: space(40)

$custom-radius: 25px
