$color-accent: #233A8A
$color-text: #000000
$color-background: #FFFFFF
$color-background-alt: #4CC4E0

$heading-font-family: "Aileron", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-sticky-background: $color-accent
$header-border-bottom-width: 0
$header-logo-height: pxToRem(40)
$header-logo-height-desktop: pxToRem(60)
$hero-color: $color-background
$hero-background-color: $color-accent
$footer-background-color: none
$footer-logo-height: pxToRem(40)
$footer-logo-height-desktop: pxToRem(60)
$breadcrumb-color: $color-text
$breadcrumb-color-active: $color-accent
