#document-header
    .nav-level-1
        a
            background: $color-background
            padding: $spacing-1 $spacing-3
            border-radius: 20px
            margin-left: $spacing-3
            &.active
                background: $color-text
                color: $color-background