.block-summary
    color: $color-accent
.block-chapter
    &--accent_background
        background: none
        .block-content
            color: $color-accent
            .chapter
                .text
                    width: 100% !important
                    .rich-text
                        @include lead
.block-posts
    &--carousel
        padding-top: $spacing-5
        padding-bottom: $spacing-5
        background: $color-green-light