\:root
    .page-blue
        --color-accent: #{$color-blue-dark}
        --btn-background: #{$color-blue-light}
    .page-prune
        --color-accent: #{$color-prune-dark}
        --btn-background: #{$color-prune-light}