#document-footer
    background-color: var(--color-accent) !important
    background-image: url(/assets/images/pattern.svg) !important
    background-repeat: repeat-x !important
    background-size: 1000px !important
    background-position: left -300px !important
    padding-top: space(70) !important
    @include media-breakpoint-down(desktop)
        background-size: 100% !important
        background-position: left -50px !important
        padding-top: space(50) !important
