\:root
    .posts__page,
    .posts__section
        --color-accent: #{$color-prune-dark}
        --btn-background: #{$color-prune-light}
    
.posts__page
    .hero
        .container
            .content
                .hero-text
                    @include media-breakpoint-up(desktop)
                        width: columns(8) !important